{% extends 'base.html' %}
{% block title %}
    Create Event
{% endblock title %}
{% block content %}
<form method="POST">
    <BR/>
    <h3 align="center">Create Event</h3>
    {{ form.hidden_tag()}}
    {{ form.name.label(class="form-label") }}
    {{ form.name(class="form-control")}}
    <BR/>
    {{ form.game.label(class="form-label")}}
    {{ form.game(class="form-control") }}
    <BR/>
    {{form.application_period.label(class="form-label")}}
    {{form.application_period(class="form-control")}}
    <BR/>
    {{form.event_time.label(class="form-label")}}
    {{form.event_time(class="form-control")}}
    <BR/>
    {{form.submit(class="btn btn-secondary")}}
</form>
{% endblock content %}