{%extends "base.html"%}
{% block title %}Home{% endblock %}
{%block content%}
<h1 align="center">Events</h1>

<ul class="list-group" id="events">
    {% for event in events %}
      {% if event[0].complete == false %}
        
      <li class="list-group-item"> 
        <a href="{{url_for('event.view_event')}}?id={{event[0].id}}" class="btn btn-secondary">{{ event[0].name}} </a>
        {{ event[1] }} Applications open until: {{ event[0].application_period }}
        {% if event[0].user_id == user.id %}
            <a href="{{url_for('event.manage_event')}}?id={{event[0].id}}" class="btn btn-success">Manage</a>
        {% endif %}
        {% if event[2] and event[0].application_open %}
            <a href="{{url_for('event.application')}}?id={{event[0].id}}" class="btn btn-success">Apply</a>
        {% endif %}
      </li>
      {% endif %}
    {% endfor %}
</ul>

{%endblock%}